# Arquivos temporários do Python
*.pyc
__pycache__/

# Banco de dados SQLite e pasta de instância (onde geralmente fica)
*.db
instance/

# Ambiente virtual (se você usa um na pasta do projeto)
venv/
.venv/

# Arquivos de configuração de ambiente (se usar)
.env
.flaskenv

# Arquivos de uploads (se não quiser que as imagens carregadas pelos usuários vão para o Git)
# Se quiser incluir imagens específicas que são parte do código (como a do header), não ignore a pasta static/uploads inteira,
# ou ignore tudo e depois use 'git add -f' para forçar a adição de arquivos específicos.
# Para a maioria dos casos, é bom ignorar uploads de usuários:
