<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias Sustentáveis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Notícias Sustentáveis</h1>
    </header>

    <nav>
        <a href="#noticias">Notícias</a>
        <a href="#denuncias">Denúncias</a>
        <a href="#sugestoes">Sugestões</a>
        <a href="#contato">Contato</a>
        <a href="#sobre">Sobre o Projeto</a>
    </nav>

    <div class="container" id="noticias">
        <h2>Últimas Notícias</h2>
        <h3>Aqui iremos trazer a ultimas notícas sobre a nossa comunidade para te manter atualizado</h3>
        <div class="noticias-grid">
            {% for noticia in noticias %}
            <div class="noticia-card">
                {% if noticia.imagem_url %}
                    <img src="/{{ noticia.imagem_url }}" alt="Imagem Notícia">
                {% endif %}
                <h3>{{ noticia.titulo }}</h3>
                <div>{{ noticia.conteudo | safe }}</div>
                <small>{{ noticia.data_publicacao.strftime('%d/%m/%Y %H:%M') }}</small>
            </div>
            {% else %}
            <p>Nenhuma notícia cadastrada ainda.</p>
            {% endfor %}
            </div>
    </div>

    <div class="container" id="denuncias">
        <h2>Denuncie um problema ambiental</h2>
        <p>Presenciou algum descaso com algum espaço, algum descarte indevido, lixeiras em condições precárias, denuncie aqui para podermos nos mover e fazer algo a respeito.</p>
        <form class="formulario" method="post" enctype="multipart/form-data">
            <label>Descrição:</label>
            <textarea name="descricao" rows="4" placeholder="Explique o problema..." required></textarea>

            <label>Endereço da Ocorrência:</label>
            <input type="text" name="endereco" placeholder="Digite o endereço da ocorrência" required>

            <label>Foto (opcional):</label>
            <input type="file" name="foto" accept="image/*">

            <img id="foto-preview" src="#" alt="Prévia da Imagem" style="display:none; width:100%; max-width:300px; margin-top:10px; border-radius:5px;">

            <button type="submit">Enviar Denúncia</button>
        </form>
    </div>

    <div class="container" id="sugestoes">
        <h2>Envie sua sugestão</h2>
        <p>Nos ajude a melhorar a preservação do bairro enviando suas sugestões.</p>
        <form class="formulario">
            <label>Nome:</label>
            <input type="text" name="nome" placeholder="Seu nome">
            <label>Endereço da Sugestão:</label>
            <input type="text" name="endereco" placeholder="Digite o endereço do local da sua sugestão">
            <label>Sugestão:</label>
            <textarea rows="4" name="sugestao" placeholder="Digite sua sugestão..." required></textarea>
            <button type="submit">Enviar Sugestão</button>
        </form>
    </div>    

    <div class="container" id="contato">
        <h2>Fale Conosco</h2>
        <p>Dúvidas sobre o intuito do projeto? Deseja fazer parte deste grupo? Fale Conosco!</p>
        <form class="formulario">
            <label>Nome:</label>
            <input type="text" name="nome" placeholder="Seu nome" required>
            <label>Email:</label>
            <input type="email" name="email" placeholder="Seu email" required>
            <label>Mensagem:</label>
            <textarea name="mensagem" rows="4" placeholder="Digite sua mensagem..." required></textarea>
            <button type="submit">Enviar Mensagem</button>
        </form>
    </div>

    <section id="sobre">
        <h2>Sobre o Projeto</h2>
        <p>Nosso projeto surgiu a partir de uma iniciativa da faculdade, onde a idéia principal era nos envolver mais nos problemas do dia a dia da nossa comunnidade.</p>
        <p>Nosso projeto tem como objetivo informar e engajar a comunidade com conteúdos relevantes e atualizados sobre os cuidados com nossas praças, parques, áreas de lazer, nossas ruas e sobre o descarte correto do lixo, para que a nossa comunidade sirva de exemplo de lugar preservado, de lazer e ecológico.</p>
        <p>Se tem interesse em nos ajudar na administração desse projeto, saber sobre quem participa dele, ou então fazer parte desse grupo entre em contato conosco, juntos podemos mais!</p>
    </section>    

    <button id="btnTopo" onclick="voltarAoTopo()">▲ Topo</button>

    <footer>
        <p>&copy; 2025 Notícias Sustentáveis - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
